.container {
  display: flex;
}
.card {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: chocolate;
  margin: 10px;
  border: 2px solid black;
}
.srl {
  height: 140px;
  width: 140px;
  overflow: scroll;
}
